html{
	font-size: 16px;
	
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	flex-direction: row;
	
		
	
	
	
}

/* remove max-width: 1200px and margin: 0 auto*/
.container{
	display:flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	flex-flow: row wrap;
	
	

}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
/* font-size  h1 30px, h2 18px, h3 12px, p 14px*/
h1 {
	font-size: 1.875em;
	
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage! romove height 110px and margin:0 auto*/
header {
	border-bottom: 3px solid #77a466;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 100%;
	
	flex-direction: row;
	
	
	
	
}
/* removed float: left and margin: 0* , h1 padding: 38px 0*/

header h1 {
	border-bottom: 3px solid #77a466;
	
}
header h1 span {
	color: #77a466;
}


/* removed float:right  h nav padding: 46px 0,*/
header nav {
	padding: 46px 0;
}
/*removed margin: 0,h nav ul padding:0*/
header nav ul {
	list-style: none;
	padding: 0;
}
/* font-size 14px romoved display:inline h nav ul li padding: 0 10px*/
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px
	

	
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	line-height: 3em;
	
}

/*The widths are in a percentage! rmoved margin 0 auto and clear: both*/
.top-section,
.bottom-section {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	flex-basis: 100%;
	align-content: flex-start;
}
	
	

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}
/* removed height:auto and float:left*/
.main-title {
	
}
.main-title h2 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}
/* font-size 16px*/
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;

}
/* removed height: auto and float: left*/
.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	
	
	
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
/* removed padding 30px and repalced it with a 0*/
.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}
/* font-size 16px removeed line-height 21px*/
.reviews {
	color: #333;
	font-size: 1em;
	
}
/* font-size 16px removed line height 24px*/
.address {
	font-size: 1em;
	
}

/*The widths are in a percentage! removed height 50px and margin 0 auto and clear: both*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row-wrap;
	flex-basis: 100%;
	align-content: flex-start;
}
/*font-size 14px*/
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
